h1 {
    color:black;
    font-family: fantasy;
    text-align: center;
    text-decoration: underline;
}

h2 {
    color:black;
    font-family: fantasy;
    text-align: center;
    text-decoration: underline;
}

body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/007/669/368/original/boxing-ring-arena-background-free-vector.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

div {
    display: grid;
    place-items: center;
}

/* .column {
    float: left;
    width: 50%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
} */